<div class="cotainer-fluid pb-5">
  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="#">NGRX</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" routerActiveLink="active">
          <a class="nav-link" routerLink="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item" routerActiveLink="active">
          <a class="nav-link" routerLink="/users/list">Users</a>
        </li>
      </ul>

    </div>

    <button (click)="logout()" class="btn btn-primary btn-sm">
      <span class="fas fa-sign-out-alt"></span>
    </button>


  </nav>
</div>
<router-outlet></router-outlet>
